//:root {
//  --main-bg-color: #FF8A00;
//  --secondary-bg-color: #FFC000;
//  --grey: #5C5C5C
//}

$main-bg-color: #FF8A00;
$secondary-bg-color: #FFC000;
$solid-grey: #5C5C5C;


$grey00: #FFFFFF;
$grey10: #F3F3F4;
$grey20: #DBDCDD;
$grey30: #C4C5C6;
$grey40: #ACAEAF;
$grey50: #888B8D;
$grey60: #6D6F71;
$grey70: #5F6163;
$grey80: #444647;
$grey90: #292A2A;
$grey100: #0E0E0E;
$grey-background: #F5F5F5;