@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima/Proxima_Nova_Regular.otf") format('otf');
}

@font-face {
  font-family: 'Proxima Light';
  src: url("../fonts/proxima/Proxima_Nova_Thin.otf") format('otf');
}

@font-face {
  font-family: 'Proxima Italic';
  src: url("../fonts/proxima/Proxima_Nova_Italic.otf") format('otf');
}

@font-face {
  font-family: 'Proxima Bold';
  src: url("../fonts/proxima/Proxima_Nova_Bold.otf") format('otf');
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto_Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto/Roboto_Light.ttf") format('ttf');
}

@font-face {
  font-family: 'Roboto Italic';
  src: url("../fonts/roboto/Roboto_Italic.ttf") format('ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto/Roboto_Bold.ttf") format('ttf');
}

