$main-color: #FF8A00;
$secondary-color: #FFC000;
$dark-grey: #5C5C5C;
$body-background: #F5F5F5;

//SHADES
$grey-20: rgba($dark-grey, 0.2);
$grey-40: rgba($dark-grey, 0.4);
$grey-60: rgba($dark-grey, 0.6);
$grey-80: rgba($dark-grey, 0.8);

//COMMON COLOR
$white: #FFFFFF;
$green: #4BAA94;
$error: #FF331F;

